/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 11:02:57 PM
    Author     : adam
*/

#masthead {
    background-color: $header-bgcolor;
    color: $header-text-color;
    .main-navigation{
        .navbar{
            border-radius: 0;
            margin-bottom: 1px;
        }
    }
}
.logo-wrapper img {
    height: 120px;
    width: auto;
    margin: 0 auto;
}

.header-content-wrapper {
    position: relative;
}

.custom-logo-link{
    width: 248px;
    height: 264px;
    img{
        display: block;
    }
}

.navbar.navbar-default{
    border-radius: 0;
    margin-bottom: 1px;
    z-index: 1;
}

.navbar-toggle{
    background-color: $header-bgcolor;
}

.navbar-default {
    background-color: $navbar-bgcolor;
    -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
    border:none;
}

.navbar-default .navbar-nav > .active > a{
    background-color: $header-bgcolor;
    color: $active-menu-item;
}

.navbar-default .navbar-nav > li > a {
    color: $main-menu-item-text-color;
    &:focus {
        color: $header-text-color;
        border-color: transparent;
    }
    &:active{
        color: $header-text-color;
    }
    &:hover{
        color: $active-menu-item;
    }
}

.navbar-default .navbar-nav > li > a{

}
.navbar-default .navbar-nav > .active > a{
    &:focus {
        background-color: $header-bgcolor;
    }
    &:hover{
        background-color: $header-bgcolor;
        color: $active-menu-item;
    }
}

.menu_my_bootstrap_menu > li > a{
    color: $header-text-color;
}

.site-title-wrapper {
    height: 120px;
    display: table;
    .site-title {
        display: table-cell;
        vertical-align: bottom;
        font-size: 30px;
    }
}

.phone-number-wrapper {
    height: 120px;
    display: table;
    float: right;
    .phone-icon{
        vertical-align: middle;
        display: table-cell;
        padding-right: 10px;
        font-size: 17px;
        color: $main-menu-item-text-color;
    }
    .phone-number {
        vertical-align: middle;
        display: table-cell;
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: $screen-xs) {
    .custom-logo-link, .social-icons, .header-phone-number{
        margin: 0 auto;
        img{
            margin: 0 auto;
        }
    }
    .logo-wrapper{
        padding-top: 20px;
    }
    .navbar-default{
        border-color: transparent;
        border-color: $mobile-navigation-border-color;
    }

    .social-icons .social-icon-wrapper{
        margin: 0 auto;
        width: 32%;
    }

    .header-phone-number > p{
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 20px;
    }
}

@media screen and (max-width: 543px){
    .site-title-wrapper {
        display: block;
        height: auto;
        .site-title {
            font-size: 30px;
            width: 210px;
            display: block;
            margin: 0 auto;
        }
    }

    .phone-number-wrapper {
        display: block;
        height: auto;
        .phone-number {
            font-size: 15px;
            width: 125px;
            display: block;
            margin: 0 auto;
        }
    }
    .row .col-phone-1 {
        width:100%;
    }
}

@media screen and (min-width: $screen-xs) {
    .site-title-wrapper {
        height: 120px;
        display: table;
        .site-title {
            display: table-cell;
            vertical-align: bottom;
            font-size: 30px;
        }
    }

    .phone-number-wrapper {
        height: 120px;
        display: table;
        .phone-number {
            vertical-align: middle;
            display: table-cell;
            font-size: 15px;
            text-align: center;
        }
    }
}
@media screen and (min-width: 543px) {
    .phone-number-wrapper {
        height: 120px;
        display: table;
        .phone-number {
            vertical-align: middle;
            display: table-cell;
            font-size: 20px;
            text-align: center;
        }
    }
}
@media (min-width: $screen-xs) and (max-width: 543px) {
    .site-title-wrapper {
        display: block;
        height: auto;
        .site-title {
            font-size: 30px;
            width: 210px;
            display: block;
            margin: 0 auto;
        }
    }

    .phone-number-wrapper {
        display: block;
        height: auto;
        .phone-number {
            font-size: 15px;
            width: 125px;
            display: block;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: $screen-lg){
    .header-content-wrapper {
        width: 1170px;
        margin: 0 auto;
        position: relative;
    }
    .navbar-inner{
        width: 1170px;
        margin: 0 auto;
    }
    .logo-wrapper img{
        height: 120px;
        width: auto;
    }
    .navbar-nav{
        padding-left: 10%;
    }
}