/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 11:02:57 PM
    Author     : adam
*/

#masthead {
    background-color: $header-bgcolor;
    color: $header-text-color;
    .main-navigation{
        .navbar{
            border-radius: 0;
            margin-bottom: 1px;
        }
    }
}
.logo-wrapper {
    margin-top: 5px;   
    img {
        height: 120px;
        width: auto;
        margin: 0 auto;
    }
}

.header-content-wrapper {
    position: relative;
}

.custom-logo-link{
    width: 248px;
    height: 264px;
    img{
        display: block;
    }
}

.navbar.navbar-default{
    border-radius: 0;
    margin-bottom: 1px;
    z-index: 1;
}

.navbar-toggle{
    background-color: $header-bgcolor;
}

.navbar-default {
    background-color: $navbar-bgcolor;
    -webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.75);
    border:none;
}

.navbar-default .navbar-nav > .active > a{
    background-color: $header-bgcolor;
    color: $active-menu-item;
}

.navbar-default .navbar-nav > li > a {
    color: $main-menu-item-text-color;
    &:focus {
        color: $header-text-color;
        border-color: transparent;
    }
    &:active{
        color: $header-text-color;
    }
    &:hover{
        color: $active-menu-item;
    }
}

.navbar-default .navbar-nav > li > a{

}
.navbar-default .navbar-nav > .active > a{
    &:focus {
        background-color: $header-bgcolor;
    }
    &:hover{
        background-color: $header-bgcolor;
        color: $active-menu-item;
    }
}

.menu_my_bootstrap_menu > li > a{
    color: $header-text-color;
}

@media screen and (max-width: $screen-xs) {
    .navbar-default{
        border-color: transparent;
        border-color: $mobile-navigation-border-color;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 20px;
    }
    .phone-number-wrapper {
        text-align: center;
        span{
            font-size: 14px;
            padding-right: 3px;
        }
    }
    .site-title-wrapper {
        text-align: center;
        span{
            font-size: 26px;       
        }
    }
    .col-mobile{
        width: 100%;
    }
}

@media screen and (min-width: $screen-xs) {
    .phone-number-wrapper {
        margin-top: 55px;        
        span{
            font-size: 14px;
            padding-right: 3px;
        }
    }
    .site-title-wrapper {        
        margin-top: 78px;        
        span{
            font-size: 33px;       
        }
    }
}
@media screen and (min-width: $screen-sm) {
    .phone-number-wrapper {
        margin-top: 55px;        
        span{
            font-size: 16px;
            padding-right: 3px;
        }
    }
    .site-title-wrapper {
        margin-top: 78px;
        span{
            font-size: 34px;       
        }
    }
}
@media screen and (min-width: $screen-md) {
    .phone-number-wrapper {
        margin-top: 55px;        
        span{
            font-size: 16px;
            padding-right: 4px;
        }
    }
    .site-title-wrapper {
        margin-top: 78px;
        span{
            font-size: 36px;       
        }
    }
}
@media screen and (min-width: $screen-lg){
    .header-content-wrapper {
        width: 1170px;
        margin: 0 auto;
        position: relative;
    }
    .navbar-inner{
        width: 1170px;
        margin: 0 auto;
    }
    .logo-wrapper img{
        height: 120px;
        width: auto;
    }
    .navbar-nav{
        padding-left: 10%;
    }
    .phone-number-wrapper {
        margin-top: 55px;        
        span{
            font-size: 16px;
            padding-right: 6px;
        }
    }
    .site-title-wrapper {
        margin-top: 78px;
        span{
            font-size: 42px;       
        }
    }
}