/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 11:10:07 PM
    Author     : adam
*/

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body{min-width: 300px; width: 100%} 
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 11:03:26 PM
    Author     : adam
*/

@import "partials/bruczek-variables";
@import "partials/header";
@import "partials/footer";


a:focus{
  outline: 0px auto -webkit-focus-ring-color;
}

.content-wrapper {
  margin: 0;
  padding: 0;
}
.box-header{
  border-bottom: 2px solid $box-border-color;
  padding-bottom: 10px;
  text-align: center;
}

.article-header{
    border-left: 4px solid $box-border-color;
    padding-left: 15px;
}

.button-grey{
  background-color: #444444;
}
.text-white{
  color: #fff;
}
.content-baner{
  float: left;
  width: 100%;
}
.jumbotron-buttons{
  float: right;
  margin-top: 35px;
  > button{
    float: right;
  }
}
.jumbo-button{
  margin: 5px 15px;
}
.content-baner{
  margin: 20px 0;
  background: linear-gradient(
                  rgba(102, 195, 0, 0.45),
                  rgba(102, 195, 0, 0.45)
  ), url($jumbotron-background-image);
  min-height: 230px;
}

.front-boxes-wrapper .front-box img {
  padding: 0;
  border-radius: 0;
  width: 98%;
  margin: 4px;
  max-height: 250px;
  min-height: 250px;
}
.light-gray{
  background-color: #1c1c1c;
}
img.box-thumbnail {
    display: block;
    margin: 0 auto;
}
.front-article-wrapper{
    float: left;
    padding-top: 25px;
    padding-bottom: 40px;
}
@media screen and (min-width: $screen-lg){
  #metaslider_26 .slides > li > img{
    max-height: 500px;
  }
  .content-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }
  .jumbotron-content{
    max-width: 1200px;
    margin: 0 auto;
  }
  .front-boxes-wrapper {
    @include make-row;
  }
}
@media screen and (min-width: $screen-md){
  .content-baner{
    float: left;
    width: 100%;
  }
  .container-fluid .jumbotron{
    border-radius: 0;
  }
}
@media screen and (min-width: $screen-sm){
  .content-baner{
    float: left;
    width: 100%;
  }
  .container-fluid .jumbotron{
    border-radius: 0;
  }
}

@media screen and (max-width: $screen-sm){
    .jumbotron-buttons{
      margin-top: 0;
      padding-right: 5%;
    }
  }

@media (min-width: $screen-xs) and (max-width: $screen-sm){
  .front-boxes-wrapper .front-box img{
    width: 370px;
    height: auto;
  }
  .front-box p {
    padding: 0 10%;
  }
  .metaslider .slides img{
    min-height: 310px;
  }
}

@media screen and (max-width: $screen-xs){
  .metaslider .slides img{
    min-height: 260px;
  }
}